django>=5.0,<5.3
djangorestframework
djangorestframework-simplejwt
drf-spectacular
celery[redis]
redis
psycopg2-binary
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
chromadb
pypdf
python-json-logger
pytest
pytest-django
pytest-cov
